# Core
streamlit
requests
beautifulsoup4
trafilatura
PyPDF2
pillow
easyocr
pdf2image
pillow
qdrant-client

# LangChain + ecosystem
langchain
langchain-community
langchain-huggingface
langchain-openai

# Vector DBs
faiss-cpu
qdrant-client
rank-bm25

# Embeddings + models
sentence-transformers
transformers
huggingface-hub

# Utils
pandas
numpy
pyparsing
