streamlit
requests
beautifulsoup4
trafilatura
PyPDF2
pdf2image
pillow
easyocr
langchain
langchain-community
langchain-huggingface
langchain-openai
faiss-cpu
qdrant-client==1.9.0  
sentence-transformers
transformers
huggingface-hub
pandas
numpy
pyparsing
altair         
